.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: .5rem 0;
    margin: 0 auto;
    
}

.info p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
}

.info p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;    
    background-repeat: no-repeat;
     background-size: contain;
    margin-right: .5rem;
} 
.info .job::before{
    background-image: url('../assets/img/icons/Group.png');
}
.info .estado::before{
    background-image: url('../assets/img/icons/localiza.png');
}
.info .tel::before{
    background-image: url('../assets/img/icons/whats.png');
}
.info .email::before{
    background-image: url('../assets/img/icons/mail.png');
}
@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo info"
        ;
        flex-direction: row;
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    .header .title{
        grid-area: title;
        text-align: start;
    }
    .header .info{
        grid-area: info;
        
    }
    .main{
        max-width: 1024px ;
        margin: .5rem auto;
    }
}